<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>AI Writer</title>
</head>
<body>

    <div class="for__shadow">
    <header class="brand__header">
        <span class="brand__name">Writer AI</span>
    </header>

    <nav class="nav__menu">
        <a href="/" class="page__link active__link">Home</a>
        <a href="/summarize" class="page__link">Summarize</a>
        <a href="/paraphrase" class="page__link">Paraphrase</a>
        <a href="/write_content" class="page__link">Generate</a>
        <a href="/limitations" class="page__link">Limitations</a>
    </nav>

    </div>

    <div class="hero">
        <p class="text">Our AI Writer is a powerful tool that can help you paraphrase, summarize, and write content quickly and easily.<br><br> Whether you're a student, a writer, or a business professional, our AI Writer can help you save time and create better content.</p>
        <p class="tags">#productivity #savetime #bettercontent</p>
    </div>

    
</body>
</html>